/* navbar selectors */
.navbar {
    background-image: linear-gradient(to bottom, rgb(63, 164, 227), rgb(47, 124, 172));
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 27px 16px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.2s ease-in-out;
}
.navbar a:hover {
    background-color: white;
    color: black;
}
.rateMyRoom {
    color: rgb(222, 222, 196);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    float: right;
    margin-right: 10px;
}

.hamburger-menu {
    display: none;
    color: white;
    float: left;
    padding: 27px 16px;
    font-size: 24px;
    transition: background-color 0.2s ease-in-out;
}

.hamburger-menu:hover {
    background-color: white;
    color: black;
}

/* Media query for screen widths less than 864px */
@media (max-width: 863px) {
    .hamburger-menu {
        display: block;
    }

    .menu-wrapper {
        display: none;
    }
}

.hamburger-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 10;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.hamburger-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid gray;
    transition: background-color 0.2s ease-in-out;
}

.hamburger-dropdown a:hover {
    background-color: rgb(221, 221, 221);
}